.news_template {
    --max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center bottom;
    background-size: 2%;
    strong {
        font-family: var(--font-g-medium);
        color: var(--color-standart);
    }
    .image {
        position: absolute;
        width: 100%;
        height: 400px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .dark_curtain {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        backdrop-filter: blur(1px);
    }
    .news_mdx {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        transition: background-color 0.3s;
    }
    .news_mdx {
        padding: 148px 0 0;
        min-width: 800px;
        @media screen and (max-width: 1000px) {
            min-width: 0;
        }
        [data-type="wrapper"] {
            padding: 42px 64px;
            background-color: #fff;
            @media screen and (max-width: 1000px) {
                padding: 24px;
            }
            [data-type="link"] p {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 12px;
                img {
                    width: 20px;
                    aspect-ratio: 1;
                }
            }
            a {
                color: var(--color-blue);
                transition: color 0.3s;
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
        :where(h1, h2, h3, p) {
            line-height: 1.3;
        }
        h1 {
            position: relative;
            max-width: var(--max-width);
            font-size: 42px;
            hyphens: auto;
            color: #fff;
            margin: 0 auto 82px;
            @media screen and (max-width: 1000px) {
                font-size: 32px;
            }
            @media screen and (max-width: 700px) {
                font-size: 24px;
            }
        }
        h2,
        h3 {
            font-size: 24px;
            text-align: left;
            margin-bottom: 16px;
            font-family: var(--font-g-light);
            color: var(--color-secondary);
            @media screen and (max-width: 768px) {
                font-size: 20px;
                text-align: center;
            }
        }
        h2 {
            line-height: 1.3;
            text-align: left;
            font-size: 28px;
            margin-bottom: 28px;
            text-decoration: underline;
            font-family: var(--font-g-light);
            &::first-letter {
                color: var(--color-primary);
                font-family: var(--font-g-medium);
            }
        }
        p {
            font-size: 20px;
            max-width: var(--max-width);
            font-family: var(--font-g-light);
            padding-left: 12px;
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
        :where(h1, h2, h3, p) {
            color: var(--color-standart);
        }
        ul,
        ol {
            max-width: var(--max-width);
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style-type: disc;
            margin-bottom: 24px;
            padding-left: 12px;
            li {
                font-size: 18px;
                font-family: var(--font-g-light);
                line-height: 1.3;
                margin-left: 24px;
                color: var(--color-standart);
            }
        }
        ol {
            list-style: decimal;
            & li {
                margin-top: 12px;
            }
        }
        &:last-child {
            margin-bottom: 128px;
            @media screen and (max-width: 768px) {
                margin-bottom: 48px;
            }
        }
        table {
            max-width: var(--max-width);
            border-collapse: collapse;
            margin: 16px 0;
            font-size: 14px;
            background-color: #ffffff;
            line-height: 1.3;
            thead {
                background-color: #eeeeee;
                font-size: 16px;
                tr {
                    th {
                        vertical-align: middle;
                        padding: 10px 12px;
                        font-weight: 600;
                        text-align: left;
                        border-bottom: 2px solid #bbbbbb;
                        color: #222;
                    }
                }
            }
            tbody {
                tr {
                    transition: background-color 0.2s ease;
                    &:hover {
                        background-color: #f5f5f5;
                    }
                    &:nth-child(even) {
                        background-color: #fafafa;
                    }
                    td {
                        padding: 8px 12px;
                        border-bottom: 1px solid #dddddd;
                        color: #333;
                    }
                }
            }
            th,
            td {
                border-left: 1px solid #ddd;

                &:first-child {
                    border-left: none;
                }
            }
        }
    }
    blockquote {
        border-top: 1px solid #a0a0a0;
        width: fit-content;
        color: #646464;
        font-style: italic;
        margin-top: 24px;
        padding-top: 4px;
        font-size: 14px;
    }
}

html[data-theme="dark"] .news_template {
    background-image: url(/images/svg/brick-bg-dark.svg);
    .news_mdx {
        [data-type="wrapper"] {
            background-color: #353535;
            ul li::marker {
                color: #fff;
            }
        }
    }
}

html[data-theme="light"] .news_template {
    background-image: url(/images/svg/brick-bg.svg);
}
