.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 128px 24px;
    line-height: 1.3;
    @media screen and (max-width: 768px) {
        padding: 64px 12px;
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .card {
            box-shadow: 0 0 4px #0000001a;
            border-radius: 4px;
            padding: 16px;
            background-color: #f5f5f56b;
            border: 2px solid #fff;
            display: flex;
            align-items: center;
            gap: 8px;
            .icon {
                position: relative;
                width: 20px;
                aspect-ratio: 1;
            }
        }
    }
    .desc {
        max-width: 500px;
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 16px;
        h2 {
            font-size: 32px;
            line-height: 1.3;
            text-align: right;
            color: var(--color-standart);
        }
        p {
            line-height: 1.3;
            color: var(--color-standart);
        }
        @media screen and (max-width: 1000px) {
            h2,
            p {
                text-align: center;
            }
        }
    }
}
