.online {
    background: linear-gradient(90deg, rgba(42, 123, 155, 0.5) 0%, rgba(87, 199, 133, 0.5) 50%, rgba(217, 147, 147, 0.5) 100%);
    padding-bottom: 24px;
    border-radius: 8px;
    .button {
        margin: 0 auto;
        width: fit-content;
        .icon {
            display: flex;
            width: 20px;
            aspect-ratio: 1;
            fill: var(--color-primary);
            margin-right: 8px;
        }
    }
    .desc {
        max-width: 800px;
        margin: 0 auto;
        padding: 24px 12px;
        p {
            font-size: 14px;
            line-height: 1.3;
            text-align: center;
        }
    }
}
