.wrapper {
    box-sizing: border-box;
    position: relative;
    height: 14px;
    width: 40px;
    cursor: pointer;
    border-radius: 22px;
    background-color: #898989;
    .menu_toggle_bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .circle {
        position: absolute;
        border-radius: 50%;
        top: -6px;
        width: 27px;
        aspect-ratio: 1;
        top: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    .day,
    .night {
        top: -6px;
    }
}
