.template {
    --max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center bottom;
    background-size: 2%;
    strong {
        font-family: var(--font-g-medium);
    }
    .image {
        position: absolute;
        width: 100%;
        height: 400px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .dark_curtain {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        backdrop-filter: blur(1px);
    }
    .mdx,
    .news_mdx {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        transition: background-color 0.3s;
    }
    .mdx,
    .news_mdx {
        padding: 148px 0 0;
        min-width: 800px;
        @media screen and (max-width: 1000px) {
            min-width: 0;
        }
        [data-type="wrapper"] {
            padding: 42px 64px;
            background-color: #fff;
            @media screen and (max-width: 1000px) {
                padding: 24px;
            }
            [data-type="link"] p {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 12px;
                img {
                    width: 20px;
                    aspect-ratio: 1;
                }
            }
            a {
                color: var(--color-blue);
                transition: color 0.3s;
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
        :where(h1, h2, p) {
            line-height: 1.3;
        }
        h1 {
            position: relative;
            font-size: 64px;
            color: #fff;
            margin-bottom: 82px;
            @media screen and (max-width: 768px) {
                font-size: 32px;
            }
        }
        h2 {
            font-size: 24px;
            text-align: left;
            margin-bottom: 16px;
            font-family: var(--font-g-light);
            color: var(--color-secondary);
            @media screen and (max-width: 768px) {
                font-size: 20px;
                text-align: center;
            }
        }
        p {
            font-size: 20px;
            max-width: var(--max-width);
            font-family: var(--font-g-light);
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
        :where(h1, h2, p) {
            color: var(--color-standart);
        }
        ul,
        ol {
            max-width: var(--max-width);
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style-type: disc;
            li {
                font-size: 18px;
                font-family: var(--font-g-light);
                line-height: 1.3;
                margin-left: 24px;
                color: var(--color-standart);
            }
        }
        ol {
            list-style: decimal;
            & li {
                margin-top: 12px;
            }
        }
        &:last-child {
            margin-bottom: 128px;
            @media screen and (max-width: 768px) {
                margin-bottom: 48px;
            }
        }
    }

    .news_mdx {
        a {
            word-break: break-all;
        }
        [text-type="super-index"] {
            font-size: 12px;
            vertical-align: super;
            color: rgb(168, 17, 93);
            font-family: var(--font-g-medium);
        }
        [image-type="l"],
        [image-type="s"] {
            width: 100%;
            margin-bottom: 24px;
            display: flex;
            justify-content: center;
            p {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        [image-type="s"] {
            p {
                width: 600px;
                @media screen and (max-width: 700px) {
                    width: 100%;
                }
            }
        }
        h1 {
            max-width: 1200px;
            font-size: 42px;
            hyphens: auto;
            @media screen and (max-width: 1000px) {
                font-size: 32px;
            }
            @media screen and (max-width: 700px) {
                font-size: 24px;
            }
        }
        h3 {
            max-width: 1000px;
            line-height: 1.3;
            text-align: left;
            font-size: 28px;
            margin-bottom: 28px;
            text-decoration: underline;
            font-family: var(--font-g-light);
            &::first-letter {
                color: var(--color-primary);
                font-family: var(--font-g-medium);
            }
        }
        h4 {
            font-size: 24px;
            margin-bottom: 24px;
        }
        strong {
            font-family: var(--font-g-medium);
            color: var(--color-standart);
        }

        blockquote {
            border-top: 1px solid #a0a0a0;
            width: fit-content;
            color: #333;
            font-style: italic;
            margin-top: 12px;
            padding-top: 4px;
            p {
                font-size: 14px;
            }
        }
    }
}

html[data-theme="dark"] .template {
    background-image: url(/images/svg/brick-bg-dark.svg);
    .mdx,
    .news_mdx {
        [data-type="wrapper"] {
            background-color: #353535;
            ul li::marker {
                color: #fff;
            }
        }
    }
}

html[data-theme="light"] .template {
    background-image: url(/images/svg/brick-bg.svg);
}
