.new_wrapper {
   width: 100%;
   overflow: auto;
   padding: 50px;
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(8px);
   box-sizing: border-box;
   transition: backdrop-filter 1s;
   height: calc(100vh - var(--header-height) - 100px);
   color: #fff;
   line-height: 1.4;
}

@media screen and (max-width: 640px) {
   .new_wrapper {
      padding: 24px;
   }
}

/* .new_wrapper h2,
.new_wrapper h3 {
   text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
} */

.new_wrapper h2 {
   font-size: 28px;
   text-transform: uppercase;
   text-decoration: underline 1px;
   margin-bottom: 12px;
}

.new_wrapper h3 {
   font-size: 22px;
   text-align: left;
   margin-bottom: 18px;
}

.new_wrapper h4 {
   font-size: 24px;
   text-align: center;
   padding: 8px 0;
}

.new_wrapper a {
   color: aqua;
}

.new_wrapper em {
   font-style: italic;
}

.new_wrapper p {
   font-size: 20px;
}

.new_wrapper strong {
   font-weight: 600;
}

.new_wrapper ul {
   margin-top: 12px;
   max-width: 1100px;
}

.new_wrapper ul > li {
   list-style: disc;
}

.new_wrapper ol > li {
   list-style: decimal;
}

.new_wrapper li {
   font-size: 16px;
   margin-left: 32px;
   line-height: 1.5;
   margin-bottom: 12px;
}
