.aside {
	position: fixed;
	box-sizing: border-box;
	color: var(--color-text-main);
	height: calc(100vh - var(--header-height));
	width: var(--aside-width);
	margin-top: var(--header-height);
	background-color: rgba(255, 255, 255, 0.6);
	padding: 60px 60px 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 1;
}

.nav {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	align-self: flex-start;
}

.h2 {
	font-size: 18px;
	color: var(--color-text-dark);
	text-transform: uppercase;
	margin-bottom: 45px;
	align-self: flex-start;
}

.link {
	position: relative;
	color: var(--color-text-grey);
	font-family: var(--font-medium);
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s;
	margin-bottom: 20px;
	line-height: 1.4em;
	text-shadow: 0 0 1px rgba(38, 38, 38, 0.7);
}

.link:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: var(--color-first-orange);
	transition: width 0.5s;
}

.link:before {
	position: absolute;
	content: "";
	left: -11px;
	top: 5.5px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--color-text-dark);
	display: none;
}

.link__active {
	color: var(--color-second-blue);
}

.link__active:after {
	width: 10px;
}

.link__active:before {
	display: block;
}

.link:hover {
	color: var(--color-second-blue);
}

.link:hover.link:after {
	width: 20px;
}

.rights {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: var(--color-text-dark);
	font-size: 0.8em;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	/* Для цветных экранов */
	.aside {
		display: none;
	}
}
