.upp_button {
    position: fixed;
    z-index: 10;
    width: 30px;
    height: 80px;
    bottom: 40px;
    left: 0;
    background-image: url("/images/svg/up-arrow.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-color: var(--color-secondary);
    border-radius: 0 4px 4px 0;
    &:hover {
        background-size: 60%;
    }
}
