@import "null.css";
@import "fonts.css";
@import "variables.css";

html {
    position: relative;
    font-family: var(--font-g-regular);
    scroll-behavior: smooth;
    button,
    a {
        cursor: pointer;
        font-family: var(--font-g-regular);
        text-decoration: none;
        color: #000;
        &:visited {
            color: #000;
        }
    }
    button {
        border: none;
    }
    background-color: var(--background-color);
    transition: background-color 0.3s;
}

h1,
h2,
h3 {
    text-align: center;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: #90959d;
    border-radius: 20px;
    border: 1px solid white;
    padding: 2px;
}

#global-loader.hide {
    opacity: 0;
    pointer-events: none;
}
