.main_block {
    --offset: 110px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-g-light);
    border-bottom: 1px solid #dadada;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100svh - var(--offset));
    @media screen and (max-width: 1440px) {
        min-height: auto;
    }
    @media screen and (max-width: 1000px) {
        padding-top: 60px;
    }
    .btn_wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 24px;
        z-index: 3;
    }
    .slider {
        position: relative;
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        height: 100%;
        flex: 1;
        .left {
            height: 100%;
            perspective: 251px;
            overflow: hidden;
            .content_block {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 48px;
                height: 100%;
                transform-style: preserve-3d;
                background-color: #33333300;
                transition: transform 1.5s ease, background-color 1.5s ease;
                & :where(h1, p, a) {
                    position: relative;
                    z-index: 1;
                    color: #fff;
                }
                h1 {
                    font-size: 48px;
                    margin-bottom: 24px;
                    @media screen and (max-width: 768px) {
                        font-size: 32px;
                        margin-bottom: 12px;
                    }
                }
                p {
                    line-height: 1.3;
                    font-size: 22px;
                    margin-bottom: 24px;
                    max-width: 500px;
                    text-align: center;
                    @media screen and (max-width: 768px) {
                        font-size: 16px;
                    }
                }
            }
            .animate {
                /* transform: skewY(-3deg); */
                background-color: #33333352;
                @media screen and (max-width: 1430px) {
                    transform: none;
                }
            }
        }
        @media screen and (max-width: 1430px) {
            display: flex;
        }
    }
    .footer {
        padding: 16px 0;
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        color: var(--color-standart);
        & > div {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 24px;
            margin: 0 auto;
            max-width: 1400px;
            transform: translateX(12px);
            p {
                position: relative;
                line-height: 1.3;
                &:before {
                    content: "";
                    position: absolute;
                    left: -18px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 100%;
                    width: 3px;
                    background-color: var(--color-primary);
                }
            }
        }
        @media screen and (max-width: 1430px) {
            padding: 48px 24px;
            & > div {
                flex-direction: column;
                gap: 48px;
                justify-content: center;
                align-items: center;
                p {
                    max-width: 600px;
                }
            }
        }
    }
}

.main_block {
    background: -moz-linear-gradient(45deg, #465577 0%, #26c9f2 29%, #e8a453 66%, #ffa079 100%);
    background: -webkit-linear-gradient(45deg, #465577 0%, #26c9f2 29%, #e8a453 66%, #ffa079 100%);
    background: linear-gradient(45deg, #465577 0%, #26c9f2 29%, #e8a453 66%, #ffa079 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
}

.main_block::before,
.main_block::after {
    content: "";
    width: 70vmax;
    height: 70vmax;
    position: absolute;
    background: rgba(255, 255, 255, 0.07);
    left: -20vmin;
    top: -20vmin;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
}

.main_block::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%;
}

.hiddenOnMobile {
    display: none;
}

@media (min-width: 1430px) {
    .hiddenOnMobile {
        display: block;
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }
    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
.st0 {
    display: none;
}
.st1 {
    display: inline;
}
.st2 {
    opacity: 0.29;
}
.st3 {
    fill: #ffffff;
}
.st4 {
    clip-path: url(#SVGID_2_);
    fill: #ffffff;
}
.st5 {
    clip-path: url(#SVGID_4_);
}
.st6 {
    clip-path: url(#SVGID_6_);
}
.st7 {
    clip-path: url(#SVGID_8_);
}
.st8 {
    clip-path: url(#SVGID_10_);
}
.st9 {
    fill: none;
}
.st10 {
    clip-path: url(#SVGID_12_);
}
.st11 {
    opacity: 0.7;
}
.st12 {
    clip-path: url(#SVGID_14_);
}
.st13 {
    opacity: 0.2;
}
.st14 {
    clip-path: url(#SVGID_16_);
}
.st15 {
    opacity: 0.3;
    fill: #ffffff;
    enable-background: new;
}
