.right_block {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 64px;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    perspective: 300px;
    .video_block {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 24px;
        border: 2px solid #fff;
        transition: opacity 1s ease;
        transform-style: preserve-3d;
        width: 100%;
        aspect-ratio: 1.48;
        transform: rotateX(-2deg) rotateY(-3deg) translateX(-16px);
        video {
            width: 100% !important;
            height: 100% !important;
            transform: scale(1.02);
        }
    }
    @media screen and (max-width: 1440px) {
        padding: 32px;
    }
}
