.componentWrapper {
	height: calc(100vh - var(--header-height));
	backdrop-filter: blur(12px);
	padding-top: 50px;
}

.loader_wrapper {
	position: absolute;
	left: var(--aside-width);
	top: var(--header-height);
	width: calc(100vw - var(--aside-width));
	height: calc(100vh - var(--header-height));
	background-color: rgba(20, 20, 20, 0.7);
	backdrop-filter: blur(8px);
	/* z-index: 9999; */
}

.loader_block {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

.loader_block p {
	color: white;
	font-size: 20px;
	margin-top: 20px;
}

.warning {
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 1.4em;
	padding: 0 20px;
	text-shadow: 0px 0px 5px rgb(13, 73, 201);
}
