.custom_form {
    width: 540px;
    height: 250px;
}

.request_form {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    h3 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
        line-height: 1.3;
    }
    :where(h3, p) {
        color: var(--color-standart);
    }
    @media screen and (max-width: 768px) {
        padding: 48px 24px;
        background-color: #eeeeeeb0;
        h3 {
            font-size: 24px;
        }
        p {
            text-align: center;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        width: 800px;
        margin: 0 auto;
        gap: 16px;
        margin-top: 16px;
        p {
            text-align: center;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .file_block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 24px;
            .comments {
                flex: 1;
                resize: none;
                outline-color: var(--color-primary);
                padding: 12px;
                color: #333;
                border-radius: 8px;
                border: none;
                box-shadow: 0 0 4px 0 #c6c6c6;
                &::placeholder {
                    color: #a8a8a8;
                }
            }
            .file_drop {
                border-radius: 8px;
                width: 200px;
                height: 200px;
                background-color: green;
            }
        }
        .select {
            position: relative;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid rgb(180, 180, 180);
            cursor: pointer;
            margin-bottom: 12px;
            .select_icon {
                position: absolute;
                width: 16px;
                aspect-ratio: 1;
                right: 8px;
                top: 50%;
                transform: translateY(-50%) rotate(0deg);
                transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            ul.list {
                box-sizing: border-box;
                position: absolute;
                left: 0;
                top: 40px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                z-index: 20;
                background-color: #fff;
                border-radius: 4px;
                border: 1px solid rgb(180, 180, 180);
                padding: 4px 0;
                li {
                    padding: 8px 12px;
                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }
        }
        .active {
            .select_icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
        .input {
            position: relative;
            width: 100%;
            input {
                box-sizing: border-box;
                padding: 10px 10px 10px 32px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid rgb(180, 180, 180);
            }
            .icon {
                position: absolute;
                top: 50%;
                left: 8px;
                transform: translateY(-50%);
                width: 20px;
                aspect-ratio: 1;
            }
        }
    }
    .message {
        position: absolute;
        font-size: 14px;
        color: green;
        bottom: 36px;
    }
    .error_message {
        color: var(--color-red);
    }
}
