.news_wrapper {
   width: 100%;
   padding: 26px 50px 50px;
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(8px);
   box-sizing: border-box;
   transition: backdrop-filter 1s;
   height: calc(100vh - var(--header-height) - 100px);
   overflow: auto;
   .keywords {
      position: relative;
      margin-bottom: 24px;
      .input {
         box-sizing: border-box;
         border-radius: 24px;
         width: 260px;
         padding: 12px 8px 12px 40px;
         border: none;
      }
      .img {
         position: absolute;
         width: 24px;
         aspect-ratio: 1;
         left: 8px;
         top: 8px;
         border-radius: 50%;
         transition: opacity 0.3s;
      }
   }
}
