.not_found {
    --color: "6875ff";
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px 0;
    .image {
        border-radius: 24px;
        box-shadow: 0 0 4px #808080;
    }
    .btn {
        box-shadow: 0 0 8px #c5c5c5;
        padding: 8px 12px;
        border-radius: 4px;
        transition: box-shadow 0.3s ease;
        &:hover {
            box-shadow: 0 0 12px #0b4983;
        }
    }
}
