.home_content {
    overflow: hidden;
    .scene_wrapper {
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        height: 80svh;
        .scene {
            width: 100%;
            height: 100%;
            border: 1px solid #000;
        }
    }
}
