.support_wrapper {
   margin: 32px;
   background-color: #ffffff6f;
   backdrop-filter: blur(10px);
   padding: 36px;
   border-radius: 8px;
   max-width: 800px;
   .heading {
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-bottom: 1px solid var(--color-second-blue);
      padding-bottom: 12px;
      h1 {
         color: #333;
         font-size: 24px;
         color: var(--color-second-blue);
      }
      p {
         text-align: center;
         color: #333;
      }
   }
   .verfify_link {
      display: flex;
      flex-direction: column;
      gap: 32px;
      li {
         position: relative;
         display: flex;
         flex-direction: column;
         gap: 8px;
         &:before {
            position: absolute;
            content: '';
            top: 0;
            left: -12px;
            height: 100%;
            width: 1px;
            background-color: #02bbcc;
         }
         p {
            font-size: 14px;
         }
         a {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: var(--color-second-blue);
            transition: color 0.3s;
            width: fit-content;
            &:hover {
               color: var(--color-third-green);
            }
         }
      }
   }
}
