footer.footer {
    --hover-color: #12badc;
    width: 100%;
    box-sizing: border-box;
    padding: 64px 24px 24px;
    color: #fff;
    font-family: var(--font-g-light);
    background-image: url(/images/svg/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    line-height: 1.3;
    .custom_link {
        display: flex;
        gap: 8px;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;
        translate: -20px 0;
        span {
            translate: -8px 0;
            opacity: 0;
            transition: opacity 0.3s, translate 0.3s;
        }
        &:hover {
            color: var(--hover-color);
            span {
                translate: 0;
                opacity: 1;
                color: #fff;
            }
        }
    }
    .blocks {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 52px;
        justify-content: space-between;
        max-width: 1600px;
        margin: 0 auto;
        .address {
            max-width: 300px;
            line-height: 1.3;
            text-align: right;
        }
        .main_block {
            display: flex;
            justify-content: space-between;
            @media (max-width: 1200px) {
                flex-direction: column;
                gap: 42px;
                margin: 0 auto;
            }
            & > div {
                display: flex;
                flex-direction: column;
                gap: 12px;
                align-items: flex-start;
                h3 {
                    position: relative;
                    font-size: 20px;
                    margin-bottom: 4px;
                    &:after {
                        position: absolute;
                        content: "";
                        bottom: -2px;
                        left: 0;
                        height: 1px;
                        background-color: #fff;
                        width: 20px;
                    }
                }
            }
            div:nth-child(1) {
                max-width: 400px;
                gap: 24px;
                & > p {
                    line-height: 1.3;
                }
                .tel {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    & > a {
                        --color: #12badc;
                        display: flex;
                        gap: 8px;
                        text-decoration: none;
                        color: var(--color);
                        transition: color 0.3s;
                        .icon {
                            height: 16px;
                            aspect-ratio: 1;
                            fill: var(--color);
                            transition: fill 0.3s;
                        }
                        &:hover {
                            color: var(--color-red);
                            .icon {
                                fill: var(--color-red);
                            }
                        }
                    }
                }
            }
            .compoosite_wrapper {
                display: flex;
                justify-content: center;
                gap: 12px;
                .composite {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .serv_links {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        a {
                            font-family: var(--font-g-light);
                        }
                        p {
                            margin-bottom: 4px;
                            color: var(--color-secondary);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .trademark {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            & > div {
                display: flex;
                flex-direction: column;
                gap: 12px;
                & > p {
                    max-width: 600px;
                    line-height: 1.3;
                    font-size: 14px;
                }
            }
        }
    }
}

html[data-theme="dark"] footer.footer {
    background-color: #2a2a2a;
}

html[data-theme="light"] footer.footer {
    background-color: var(--color-primary);
}
