.wrapper {
    display: flex;
    gap: 32px;
    ul.links {
        display: flex;
        gap: 24px;
        align-items: center;
        font-family: var(--font-g-medium);
        p {
            color: var(--color-standart);
        }
        li {
            position: relative;
            font-size: 18px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            color: var(--color-standart);
            &:after {
                content: "";
                position: absolute;
                bottom: -18px;
                width: 0;
                height: 18px;
            }
            &:hover:after {
                width: 100%;
            }
            :where(.icon, .icon_serv) {
                position: relative;
                width: 28px;
                aspect-ratio: 1;
                background-color: #fff;
                border-radius: 50%;
            }
            .icon {
                img {
                    transition: opacity 0.3s ease-in-out;
                    padding: 4px;
                    &:first-child {
                        opacity: 1;
                    }
                    &:last-child {
                        opacity: 0;
                    }
                }
            }
            .icon_serv {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2px;
                span {
                    position: absolute;
                    left: 0;
                    width: 5px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: var(--color-primary);
                    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
                    z-index: 2;
                    left: 11px;
                    top: 15px;
                }
            }
            &:hover {
                .icon_serv span {
                    &:nth-of-type(1) {
                        left: 0px;
                        top: -2px;
                    }
                    &:nth-of-type(2) {
                        left: 22px;
                        top: -2px;
                    }
                    &:nth-of-type(3) {
                        left: 11px;
                        top: -8px;
                    }
                }
                .icon img {
                    &:first-child {
                        opacity: 0;
                    }
                    &:last-child {
                        opacity: 1;
                    }
                }
            }
        }
        .single_link {
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: var(--font-g-medium);
        }
    }
    ul.dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 38px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-top: 2px solid var(--color-secondary);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        align-items: flex-start;
        .link_block {
            width: 100%;
            cursor: default;
            span.arrow {
                left: 24px;
            }
            li {
                span.dot {
                    left: 30px;
                }
                a {
                    padding-left: 40px;
                }
            }
            p {
                font-size: 14px;
                padding: 8px 16px;
                font-family: var(--font-g-semibold);
                color: #fff;
                background-color: var(--color-primary);
            }
            &:not(:first-child) {
                border-top: 1px solid var(--color-primary);
            }
        }
        li {
            min-width: 500px;
            position: relative;
            box-sizing: border-box;
            font-size: 14px;
            width: 100%;
            a {
                width: 100%;
                padding: 12px 24px;
                color: var(--color-standart);
            }
            &[data-size="xs"] {
                min-width: 300px;
            }
            span.dot {
                position: absolute;
                width: 4px;
                aspect-ratio: 1;
                background-color: var(--color-primary);
                border-radius: 50%;
                left: 14px;
                transition: opacity 0.3s;
            }
            span.arrow {
                display: block;
                position: absolute;
                height: 10px;
                aspect-ratio: 1;
                background-image: url(/images/svg/arrow-right.svg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                left: 10px;
                top: 14px;
                transform: translateX(-100%);
                opacity: 0;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
            &:after,
            &:before {
                content: "";
                position: absolute;
                height: 1px;
                bottom: 0;
                left: 0;
            }
            &:after {
                background-color: var(--color-primary);
                transition: width 0.3s ease-in-out;
                width: 0;
            }
            &:before {
                background-color: #e8e8e8;
                width: 100%;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
                span.arrow {
                    opacity: 1;
                    transform: translateX(0);
                }
                span.dot {
                    opacity: 0;
                }
            }
        }
    }
}

html[data-theme="dark"] .wrapper ul.dropdown {
    background-color: var(--color-bg-primary-dark);
}
