.h1 {
	font-size: 36px;
	box-sizing: border-box;
	padding: 34px 30px 30px;
	color: #020202;
	backdrop-filter: blur(13px);
	border-bottom: 1px solid white;
	font-family: var(--font-semibold);
}

.content_wrapper {
	width: 100%;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(8px);
	box-sizing: border-box;
	transition: backdrop-filter 1s;
	height: calc(100vh - var(--header-height) - 100px);
}

.content_block {
	max-width: 1440px;
	margin: 0 auto;
	padding: 10px 30px;
	max-height: calc(100vh - 285px);
	overflow: auto;
}

.content_block ul {
	margin-bottom: 60px;
	margin-top: -50px;
}

.content_block ul li {
	font-size: 24px;
	color: white;
	line-height: 1.4em;
	white-space: pre-wrap;
	padding: 30px 0 0 30px;
}

.paragraph,
.h2,
.h3,
.h4 {
	font-weight: 300;
	font-size: 24px;
	color: white;
	margin-bottom: 38px;
	line-height: 1.6em;
	opacity: 1;
}
/**/
.paragraph,
.paragraph ul li {
	text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
}

.h2,
.h3 {
	margin-bottom: 10px;
	font-size: 32px;
	color: #7ccaef;
	text-shadow: 0 0 3px rgb(255, 255, 255);
}
.h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
.h3 {
	font-family: var(--font-light);
}
.h4 {
	margin-bottom: 20px;
	padding-top: 15px;
}
.h4:not(:first-child) {
	border-top: 1px solid white;
}
.paragraph:last-child {
	margin-bottom: 0;
}

.link {
	display: block;
	color: #ffffff;
	font-family: var(--font-light);
	font-size: 20px;
	margin: 0 0 20px 40px;
	text-decoration: none;
	transition: color 0.3s, text-shadow 0.3s;
	text-shadow: 0 0 4px rgb(32, 141, 165);
}
.link:hover {
	color: white;
	text-shadow: none;
}

@media screen and (max-width: 1024px) {
	.h1 {
		padding: 14px 10px 10px;
		font-size: 24px;
	}
	.h2 {
		font-size: 28px;
	}
	.h3 {
		font-size: 22px;
	}
	.h4 {
		font-size: 18px;
	}
	.link {
		font-size: 14px;
		margin-left: 20px;
	}
	.content_block {
		max-height: calc(100vh - 154px);
		padding: 0 10px 0 0;
		border-left: none;
	}
	.content_wrapper {
		padding: 15px 8px 15px 15px;
		height: calc(100vh - var(--header-height) - 50px);
	}
	.paragraph {
		font-size: calc(14.9px + 9.2 * (100vw / 2560)); /* 24 -> 16 */
		margin-bottom: 20px;
		line-height: 1.4em;
	}
	.content_block ul {
		margin-bottom: 20px;
		margin-top: -10px;
	}
	.content_block ul li {
		font-size: inherit;
		line-height: 1.4em;
	}
}
