.block {
    --text-color: var(--color-primary);
    --color-date: #333;
    .loader {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        img {
            transform: translateY(60px);
        }
    }
    .news_block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        gap: 24px;
        @media (max-width: 1176px) {
            width: 100%;
        }
        .news {
            position: relative;
            z-index: 2;
            --block-height: 1060px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            height: var(--block-height);
            overflow: auto;
            scroll-behavior: smooth;
            padding: 140px 0 40px;
            @media (max-width: 1176px) {
                width: fit-content;
                margin: 0 auto;
            }
            @media (max-width: 1000px) {
                padding: 180px 0 40px;
            }
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
            .loader {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40px;
                transform: translateY(-50px);
            }
            .new a {
                max-width: 600px;
                display: flex;
                align-items: center;
                gap: 24px;
                cursor: pointer;
                position: relative;
                padding: 8px;
                .icon {
                    flex-shrink: 0;
                    width: 150px;
                    overflow: hidden;
                    position: relative;
                    aspect-ratio: 1;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    transition: border-radius 0.3s ease;
                    .eye {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        translate: -50% -50%;
                        z-index: 3;
                        height: 50px;
                        aspect-ratio: 1;
                        fill: #fff;
                        transition: opacity 0.3s ease;
                        opacity: 0;
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    p.description {
                        font-size: 22px;
                        line-height: 1.3;
                        transition: color 0.3s ease;
                        color: var(--text-color);
                    }
                    p.date {
                        font-size: 16px;
                        color: var(--color-date);
                        border-top: 1px solid #999;
                        width: 100px;
                        text-align: center;
                        padding-top: 4px;
                    }
                }
                .gif {
                    display: none;
                    position: absolute;
                    left: 185px;
                    bottom: 8px;
                    z-index: 3;
                    height: 20px;
                    aspect-ratio: 1;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
                &:hover {
                    .icon {
                        border-radius: 24px;
                        .eye {
                            opacity: 1;
                        }
                    }
                    .content {
                        p.description {
                            color: var(--color-secondary);
                        }
                    }
                    .gif {
                        opacity: 1;
                    }
                }
                @media (max-width: 650px) {
                    padding: 0 20px;
                    .icon {
                        width: 80px;
                        aspect-ratio: 1;
                    }
                    .content {
                        max-width: 400px;
                        p.description {
                            font-size: 18px;
                        }
                        p.date {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .top_mirror {
        position: absolute;
        top: 0;
        width: 100%;
        height: 120px;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid #e9e9e91c;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(/images/svg/brick-bg.svg);
        background-size: 20px;
        @media (max-width: 1000px) {
            top: 58px;
            height: 80px;
        }
    }

    .mirror_title {
        font-size: 32px;
        font-family: var(--font-g-medium);
        color: var(--text-color);
    }

    .image {
        position: relative;
        z-index: 3;
        box-sizing: border-box;
        width: 450px;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        aspect-ratio: 0.36;
        background-image: url(/images/news-bg.jpg);
    }
}

html[data-theme="dark"] .block {
    --text-color: #fff;
    --color-date: #b6b6b6;
    .top_mirror {
        background-image: url(/images/svg/brick-bg-dark.svg);
    }
}
