.client_content {
    --disabled-color: #878787;
    position: relative;
    background-color: var(--color-primary);
    padding: 36px;
    border-radius: 8px;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 64px;
    line-height: 1.3;
    .image_verify {
        position: absolute;
        left: 32px;
        top: 32px;
    }
    &:after {
        position: absolute;
        content: "";
        top: 140px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    @media screen and (max-width: 1240px) {
        margin: 64px 24px 0;
    }
    @media screen and (max-width: 1000px) {
        margin: 96px 24px 0;
    }
    @media screen and (max-width: 583px) {
        &:after {
            display: none;
        }
    }
    p.error {
        box-sizing: border-box;
        width: 100%;
        color: #c11010;
        background-color: #fff;
        padding: 24px;
        border-radius: 4px;
        font-family: (var(--font-g-semibold));
    }
    .header {
        h2 {
            font-size: 20px;
            text-align: left;
            color: var(--color-secondary);
            text-align: center;
            margin-bottom: 46px;
            line-height: 1.3;
            @media screen and (max-width: 583px) {
                font-size: 16px;
                text-align: center;
            }
        }
        p {
            width: 100%;
            font-size: 32px;
            color: #fff;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 8px;
            @media screen and (max-width: 583px) {
                font-size: 24px;
                text-align: center;
            }
        }
    }
    .input_wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 24px;
        p.title {
            color: #fff;
        }
        input {
            box-sizing: border-box;
            display: block;
            width: 100%;
            padding: 8px 12px 8px 18px;
            outline-color: var(--color-primary);
        }
        button {
            position: relative;
            width: 170px;
            font-size: 16px;
            height: 40px;
            border-radius: 24px;
            border: none;
            cursor: pointer;
            margin-left: 24px;
            background-color: #fff;
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            color: var(--color-primary);
            p {
                line-height: 1.3;
                font-family: var(--font-g-medium);
            }
            p,
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
            img {
                opacity: 0;
            }
            &:hover {
                outline-color: #fff;
            }
            &:disabled {
                color: var(--disabled-color);
                cursor: default;
            }
        }
    }
    .loading {
        button {
            cursor: default;
            &:hover {
                outline-color: #ffffff00;
            }
            img {
                opacity: 1;
            }
        }
    }
    .data_body {
        background-color: #fff;
        padding: 24px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        .message {
            --bg-status: var(--color-green);
            display: flex;
            flex-direction: column;
            gap: 8px;
            box-sizing: border-box;
            padding: 16px;
            width: 400px;
            background-color: #fff;
            border-radius: 4px;
            background-color: var(--bg-status);
            color: #fff;
            line-height: 1.3;
            width: 100%;
            p:first-child {
                text-transform: uppercase;
            }
            @media screen and (max-width: 583px) {
                width: 100%;
                text-align: center;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 24px;
            line-height: 1.3;
            .data_item {
                display: grid;
                grid-template-columns: 250px auto;
                p:first-child {
                    font-weight: 600;
                }
                p:last-child {
                    color: var(--color-primary);
                }
                @media screen and (max-width: 583px) {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    p:first-child {
                        text-decoration: underline;
                    }
                }
            }
        }
        .download_button {
            box-sizing: border-box;
            position: relative;
            font-size: 14px;
            border-radius: 24px;
            padding: 12px 24px;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-left: 24px;
            background-color: var(--color-primary);
            border: none;
            outline: 2px solid #fff;
            outline-offset: 2px;
            width: 200px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 500px) {
                margin: 0 auto;
            }
            &:hover {
                outline-color: var(--color-primary);
            }
            & > div {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
            }
            &:disabled {
                cursor: default;
                background-color: #d5d5d5;
                & > div {
                    opacity: 0;
                }
                &:hover {
                    outline-color: #ffffff00;
                }
            }
        }
        .loading {
            background-color: #c7c7c7;
        }
    }
}

html[data-theme="dark"] .client_content {
    background-color: var(--color-bg-primary-dark);
}
