@import 'null.css';
@import 'fonts.css';
@import 'variables.css';

html {
   font-family: var(--font-medium);
}

html* {
   outline-color: #adadad;
}

h1,
h2,
h3 {
   text-align: center;
}

*::-webkit-scrollbar {
   width: 4px;
}

*::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
   background-color: #90959d;
   border-radius: 20px;
   border: 1px solid white;
   padding: 2px;
}

.body-wrapper {
   padding-left: var(--aside-width);
   padding-top: var(--header-height);
}

.h1 {
   font-size: 36px;
   box-sizing: border-box;
   padding: 34px 30px 30px;
   color: #020202;
   backdrop-filter: blur(13px);
   border-bottom: 1px solid white;
   font-family: var(--font-semibold);
}

.news-paragraph {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 12px;
}

.news-super,
.news-sub {
   font-size: 12px;
   color: chartreuse;
}

.news-super {
   vertical-align: super;
}

.news-sub {
   vertical-align: sub;
}

.news-image {
   border-radius: 22px;
   overflow: hidden;
   border: 2px solid #fff;
   margin: 8px 0;
   p {
      display: flex;
      img {
         width: 100%;
      }
   }
}

.img-size_1 {
   width: 500px;
}

.img-size_2 {
   width: 800px;
}

.img-size_3 {
   width: 1100px;
}

blockquote {
   position: relative;
   width: fit-content;
   & > p {
      font-size: 12px !important;
      color: #ffffff94;
   }

   &::after,
   &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ffffff94;
   }

   &::after {
      top: -1px;
   }

   &::before {
      bottom: 0;
   }
}

@media screen and (max-width: 610px) {
   .img-size_1 {
      width: 100%;
   }
}

@media screen and (max-width: 1200px) {
   .img-size_2 {
      width: 100%;
   }
}

@media screen and (max-width: 1500px) {
   .img-size_3 {
      width: 100%;
   }
}

@media screen and (max-width: 1024px) {
   .body-wrapper {
      padding-left: 0;
   }
}
